<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" fxLayoutGap="83%"  fxLayout="row"  fxLayoutAlign="space-between start"  >
    <div class="navbar-header" >
      <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
    </div>
    <!-- chercher -->
    <!-- chercher1 -->

    <!-- <form class=" nav navbar-form " action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="chercher">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form> -->
          <!-- logout -->
          <mat-toolbar class="toolbar w-100" style="padding:0px;">
           
                    <div class="divider" fxLayout="row" fxLayoutAlign="center center">
                        <button class="notification" mat-icon-button matTooltip="Notifications" (click)="toggleNotification()">
                            <mat-icon>notifications</mat-icon>
                            <!-- notification state -->
                            <span class="badge"></span>
                        </button>
                    </div>
                    <div class="user-avatar" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" [matMenuTriggerFor]="menu">
                        <img src="./assets/img/user.jpg">
                        <span style="font-size: 17px;">Jhon Doe</span>
                        <mat-icon style="font-size: 18px;" fxFlexAlign="end">keyboard_arrow_down</mat-icon>
                    </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item><mat-icon>account_circle</mat-icon>My Profile</button>
                        <button mat-menu-item><mat-icon>settings</mat-icon>Setting</button>
                        <button mat-menu-item router [routerLink]="['/auth']">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Logout</span>
                        </button>
                    </mat-menu>
                
            
        </mat-toolbar>

    <ul class="nav " >
      <li>
        <a [routerLink]="['']" >
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>
    </ul>
  </nav>
</div>
