
mat-grid-tile {
 


.example-card {
    max-width: 400px !important;
  
  
  .example-header-image {
    background-image: url('../../../../assets/img/plat/1074x1074_8119-cover.jpg');
    background-image: url('../../../../assets/img/plat/s.jpg');
    background-image: url('../../../../assets/img/plat/menu-plat-du-moment.jpg');
    background-image: url('../../../../assets/img/plat/images.jpg');
  
  }
}
}